@using Newtonsoft.Json
@model FakeAPIMVC.Models.ProductViewModel

@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Listado de Productos</h1>
    @Html.ActionLink("Add Product", "AddProduct", "Home", null, new { @class = "btn btn-primary" })
    <p></p>
    <input type="text" id="searchInput" class="form-control" placeholder="Search for products..."
        onkeyup="searchProducts()" />
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Product Name</th>
                <th scope="col">Image</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody id="productTableBody">

            @for (int i = 0; i < Model.Products.Count; i++)
            {
                <tr data-toggle="modal" data-target="#productModal" data-id="@Model.Products[i].Id"
                    onclick="openModal(this)">
                    <th scope="row">@i</th>
                    <td>@Model.Products[i].Title</td>
                    <td><img src="@Model.Products[i].Image" alt="@Model.Products[i].Title" class="img-thumbnail"
                            style="max-width: 100px;" /></td>
                    <td>@Model.Products[i].Price.ToString("C")</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="productModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="productModalLabel">Product Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="modalContent">
                    <div class="form-group">
                        <label for="modalTitleInput"><strong>Title:</strong></label>
                        <input type="text" id="modalTitleInput" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="modalPriceInput"><strong>Price:</strong></label>
                        <input type="text" id="modalPriceInput" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="modalDescriptionInput"><strong>Description:</strong></label>
                        <textarea id="modalDescriptionInput" class="form-control" rows="3"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="modalImage"><strong>Image:</strong></label>
                        <img id="modalImage" src="" alt="Product Image" class="img-thumbnail"
                            style="max-width: 100%;" />
                        
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="saveChanges()">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>
<script>
    function openModal(element) {
        var productId = $(element).data('id');
        var product = @Html.Raw(JsonConvert.SerializeObject(Model.Products));

        var selectedProduct = product.find(p => p.Id === productId);

        if (selectedProduct) {
            $('#modalTitleInput').val(selectedProduct.Title);
            $('#modalPriceInput').val(selectedProduct.Price);
            $('#modalDescriptionInput').text(selectedProduct.Description);
            $('#modalImage').attr('src', selectedProduct.Image);

            $('#productModal').modal('show');
        }
    }
    function saveChanges() {
        var updatedProduct = {
            Id: $('#productModal').data('id'),
            Title: $('#modalTitleInput').val(),
            Price: parseFloat($('#modalPriceInput').val()),
            Description: $('#modalDescriptionInput').val(),
            Image: $('#modalImage').attr('src')
        };

        $.ajax({
            url: '@Url.Action("Edit", "Home")',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(updatedProduct),
            success: function (response) {
                // Handle success response
                $('#productModal').modal('hide');
                location.reload(); // Reload the page to see the changes
            },
            error: function (error) {
                // Handle error response
                console.error('Error updating product:', error);
            }
        });
    }
</script>
<script>
    function searchProducts() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("searchInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("productTableBody");
        tr = table.getElementsByTagName("tr");

        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>