@using Newtonsoft.Json
@model FakeAPIMVC.Models.ProductViewModel

@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Listado de Productos</h1>
    @Html.ActionLink("Add Product", "AddProduct", "Home", null, new { @class = "btn btn-primary" })


    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Product Name</th>
                <th scope="col">Image</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td colspan="4">
                    <input type="text" id="searchInput" class="form-control" placeholder="Search for products..."
                        onkeyup="searchProducts()" />
                </td>
            </tr>

            @for (int i = 0; i < Model.Products.Count; i++)
            {
                <tr data-toggle="modal" data-target="#productModal" data-id="@Model.Products[i].Id"
                    onclick="openModal(this)">
                    <th scope="row">@i</th>
                    <td>@Model.Products[i].Title</td>
                    <td><img src="@Model.Products[i].Image" alt="@Model.Products[i].Title" class="img-thumbnail"
                            style="max-width: 100px;" /></td>
                    <td>@Model.Products[i].Price.ToString("C")</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="productModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="productModalLabel">Product Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="modalContent">
                    <div class="form-group">
                        <label for="modalTitleInput"><strong>Title:</strong></label>
                        <input type="text" id="modalTitleInput" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="modalPriceInput"><strong>Price:</strong></label>
                        <input type="text" id="modalPriceInput" class="form-control"  />
                    </div>
                    <div class="form-group">
                        <label for="modalDescriptionInput"><strong>Description:</strong></label>
                        <textarea id="modalDescriptionInput" class="form-control" rows="3" ></textarea>
                    </div>
                    <div class="form-group">
                        <label for="modalImage"><strong>Image:</strong></label>
                        <img id="modalImage" src="" alt="Product Image" class="img-thumbnail" style="max-width: 100%;" />
                        <input type="file" id="modalImageInput" class="form-control" readonly />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
    function openModal(element) {
        var productId = $(element).data('id');
        var product = @Html.Raw(JsonConvert.SerializeObject(Model.Products));

        var selectedProduct = product.find(p => p.Id === productId);

        if (selectedProduct) {
            console.log(selectedProduct)
            $('#modalTitleInput').text(selectedProduct.Title);
            $('#modalPriceInput').text(selectedProduct.Price);
            $('#modalDescriptionInput').text(selectedProduct.Description);
            $('#modalImage').attr('src', selectedProduct.Image);

            $('#productModal').modal('show');
        }
    }
</script>